<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">



<html lang="en">



<head>



	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Story Page</title>

	<link rel="stylesheet" type="text/css" href="../../Content/CSS/site.css">


	<script src="../../../Content/Scripts/jquery/jquery-1.7.1.min.js"></script>

</head>



<body>

<div id="SiteHeader">
	<img src="../../Content/images/goLogo.png"/>
	<h1>Mister StoryTime 3000</h1>
	<div class="clearArino"></div>
</div>

<div id="Container">

	<h2 class="sectionHeader">Select Client and Platform</h2>

	<div class="leftCol">
		
		<ul id="StoriesList">
			<!-- <li class="storyLink" data-storyid="001">  <a class="stdLink" href="javascript:void(0)">Store Location Detection</a></li> -->
		</ul>

	</div>

	<div class="rightCol">
		
		<div class="storyHeader">
		Create Story For:
		<h3 id="StoryTitle"></h3>
		</div>

		<p id="StoryDetailsIntro"></p>

		<form>

		<div class="formHint">Acceptance Criteria</div>
		<textarea id="acceptanceText">
			
		</textarea>


		<div class="formHint">Notes & Limits</div>
		<textarea id="limitsText">
			
		</textarea>


	</div>

	<div class="pageControls">
				<a href="../setup"class="stdLink">Back to Setup</a>
				<a href="javascript:void(0)" id="Generate" class="stdLink">Continue</a>
	</div>

</div>

<div id="StoryViewModal" style="width:100%;height:100%;position:fixed;top:0;left:0;display:none;">
	<div class="viewModalBackground" style="width:100%;height:100%;position:fixed;top:0;left:0;background-color:Black;opacity:.5;"></div> 
	<div id="ModalView" style="position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;width:400px;height:600px;background-color:White;">
		<div >Review Story For:</div>
		<div id="ModalStoryTitle"></div>
		<div >Make any final edits below and press "Copy to Clipboard" to complete this story</div>
		<textarea id="ReviewText">
			<!-- I can see the available details about an item so that I may learn more information about the item.", "acceptanceCriteria":"Verify the style, copy and layout conforms to the SmartCircular 5 design template.&#13;&#10;Show me a user can access an item detail page from browse -->
		</textarea>
		<a href="javascript:void(0)" id="StoryModalClose" class="modalCloseBtn">Cancel</a>
		<a href="javascript:void(0)" id="StoryModalCopy" class="modalCopyBtn">Copy to Clipboard</a>
	</div>
</div>

<div id="ConfirmViewModal" style="width:100%;height:100%;position:fixed;top:0;left:0;display:none;">
	<div class="viewModalBackground" style="width:100%;height:100%;position:fixed;top:0;left:0;background-color:Black;opacity:.5;"></div> 
	<div id="ModalView" style="position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;width:400px;height:600px;background-color:White;">
		<div >Story Copied Successfully!</div>
		<a href="javascript:void(0)" id="ConfirmModalClose" class="modalCloseBtn">Confirm</a>
	</div>
</div>

<script src="../../../Content/Scripts/jquery/jquery.json2.js"></script>
<script src="../../../Content/Scripts/jquery/jquery.jsoncookie.js"></script>
<script src="../../../Content/Scripts/sl.sc.application.js"></script>

<script>
(function(){
	var storiesData=[];
	var listMarkup = "";
	var currentStory = {};

	//TODO: replace "/n" with whatever will brreak the text

	var findItemByKey = function(key, val, data){
		// key = the name of the value to match
		// val = the value of this instance of the key
		// data = the object to search
		for(var i=0; i<data.length; i++){
			if(data[i][key] == val){
				return data[i];
			}

		}

	};
	var initListeners=function(){
		$(".storyLink").click(function(e){

			currentStory = findItemByKey("key", $(this).attr("data-storyid"), storiesData);

			$("#StoryTitle").html(currentStory.storyName);
			$("#acceptanceText").val(currentStory.acceptanceCriteria);
			$("#limitsText").val(currentStory.limits);
			$("#StoryDetailsIntro").html(currentStory.storyDetails);
		});
		$("#Generate").click(function(e){
			$("#StoryViewModal").show();
			//
			$("#ModalStoryTitle").html(currentStory.storyName);
			//
			var storyText = "";
			storyText += currentStory.storyDetails;
			storyText += "\n\n";
			//
			storyText += sl.sc.application.header_AcceptanceCriteria;
			storyText += "\n\n";
			storyText += currentStory.acceptanceCriteria;
			storyText += "\n\n";
			//
			storyText += sl.sc.application.header_ProjectLimits;
			storyText += "\n\n";
			storyText += currentStory.limits;
			storyText += "\n\n";
			//
			$("#ReviewText").val(storyText);
		});

		$("#StoryViewModal #StoryModalClose").click(function(e){
			$("#StoryViewModal").hide();
		});
		$("#StoryViewModal #StoryModalCopy").click(function(e){
			$("#StoryViewModal").hide();
			$("#ConfirmViewModal").show();

		});
		$("#ConfirmViewModal #ConfirmModalClose").click(function(e){
			$("#ConfirmViewModal").hide();
		});

		
	}

	var manageStories = function(data){
		storiesData = data.stories;

		for(var l = 0; l < storiesData.length; l++){
			listMarkup += '<li class="storyLink" data-storyid="'+ storiesData[l].key + '">  <a class="stdLink" href="javascript:void(0)">' + storiesData[l].storyName + '</a></li>';
		};

		$("#StoriesList").append(listMarkup);
		console.log(listMarkup);
		initListeners();
	};

	

	sl.sc.application.getJsonData(sl.sc.application.storiesFile, manageStories);

})();
</script>

</body>



</html>


