<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">



<html lang="en">



<head>



	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Story Page</title>

	<link rel="stylesheet" type="text/css" href="../../Content/CSS/site.css">


	<script src="../../../Content/Scripts/jquery/jquery-1.7.1.min.js"></script>

</head>



<body>

<div id="Container">

	<h2 class="sectionHeader">Select Client and Platform</h2>

	<div class="leftCol">
		
		<ul id="StoriesList">
			<!-- <li class="storyLink" data-storyid="001">  <a class="stdLink" href="javascript:void(0)">Store Location Detection</a></li> -->
		</ul>

	</div>

	<div class="rightCol">
		
		<div class="storyHeader">
		Create Story For:
		<h3>Store Location Detection</h3>
		</div>

		<p>As a user, I can blah blah blah...</p>

		<form>

		<div class="formHint">Acceptance Criteria</div>
		<textarea id="acceptanceText">
			
		</textarea>


		<div class="formHint">Notes & Limits</div>
		<textarea id="limitsText">
			
		</textarea>


	</div>

	<div class="pageControls">
				<a href="#" class="stdLink">Back to Setup</a>
				<button>Continue</button>
	</div>

</div>

<script src="../../../Content/Scripts/jquery/jquery.json2.js"></script>
<script src="../../../Content/Scripts/jquery/jquery.jsoncookie.js"></script>
<script src="../../../Content/Scripts/sl.sc.application.js"></script>

<script>
(function(){
	var storiesData=[];
	var listMarkup = "";

	//TODO: replace "/n" with whatever will brreak the text

	var findItemByKey = function(key, val, data){
		// key = the name of the value to match
		// val = the value of this instance of the key
		// data = the object to search
		for(var i=0; i<data.length; i++){
			if(data[i][key] == val){
				return data[i];
			}

		}

	}
	var initListeners=function(){
		$(".storyLink").click(function(e){
			//alert("show story:" + $(this).attr("data-storyid"));
			$("#acceptanceText").val(findItemByKey("key", $(this).attr("data-storyid"), storiesData).acceptanceCriteria);
			$("#limitsText").val(findItemByKey("key", $(this).attr("data-storyid"), storiesData).limits);
		});
	}

	var manageStories = function(data){
		storiesData = data.stories;

		for(var l = 0; l < storiesData.length; l++){
			listMarkup += '<li class="storyLink" data-storyid="'+ storiesData[l].key + '">  <a class="stdLink" href="javascript:void(0)">' + storiesData[l].storyName + '</a></li>';
		};

		$("#StoriesList").append(listMarkup);
		console.log(listMarkup);
		initListeners();
	};

	

	sl.sc.application.getJsonData(sl.sc.application.storiesFile, manageStories);

})();
</script>

</body>



</html>


