<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">



<html lang="en">



<head>



	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Story Page</title>

	<link rel="stylesheet" type="text/css" href="../../Content/CSS/site.css">



</head>



<body>

<div id="Container">

	<h2 class="sectionHeader">Select Client and Platform</h2>

	<div class="leftCol">
		
		<ul>
			<li><span class="active">Story 1</span></li>
			<li><a class="stdLink" href="#">Story 2</a></li>
			<li><a class="stdLink" href="#">Story 3</a></li>
			<li><a class="stdLink" href="#">Story 4</a></li>
			<li><a class="stdLink" href="#">Story 5</a></li>
			<li><a class="stdLink" href="#">Story 6</a></li>
		</ul>

	</div>

	<div class="rightCol">
		
		<div class="storyHeader">
		Create Story For:
		<h3>Store Location Detection</h3>
		</div>

		<p>As a user, I can blah blah blah...</p>

		<form>

		<div class="formHint">Acceptance Criteria</div>
		<textarea>
			
		</textarea>


		<div class="formHint">Notes & Limits</div>
		<textarea>
			
		</textarea>


	</div>

	<div class="pageControls">
				<a href="#" class="stdLink">Back to Setup</a>
				<button>Continue</button>
	</div>

</div>

</body>



</html>


