<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">



<html lang="en">



<head>



	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Site Setup</title>

	<link rel="stylesheet" type="text/css" href="../../Content/CSS/site.css">
	<script src="../../../Content/Scripts/jquery/jquery-1.7.1.min.js"></script>

	<script>
		$( document ).ready(function() {

			$('#PlatformSelector').val("Select a Platform");

			$( "#PlatformSelector" ).change(function() {
				$('#GoblinChooser').css('display','block');
			});

		});
	</script>

</head>



<body>

<div id="SiteHeader">
	<img src="../../Content/images/goLogo.png"/>
	<h1>Mister Storytime 3000</h1>
	<div class="clearArino"></div>
</div>

<div id="Container">

	<div id="InnerContainer">
	
		<h2 class="sectionHeader">Select Client and Platform</h2>

		<form>

		<div id="ClientSelector">

			<select>

				<option selected value="Choose a Client">Choose a Client</option>
				<option>ALDI</option>
				<option>Ace Hardware</option>
				<option>Canadian Tire</option>
				<option>CVS</option>
				<option>Dicks Sporting Goods</option>
				<option>Meijer</option>
				<option>Michaels</option>	
				<option>Publix</option>
				<option>Target</option>
				<option>Walgreens</option>

			</select>

		</div>

		<div id="PlatformSelector">
			<select>
				<option selected value="Select a Platform">Select a Platform</option>
				<option>Smart Deals</option>
				<option>SC Standard</option>
				<option>SC 5</option>
				<option>SC Custom</option>
			</select>
		</div>

		<div id="GoblinChooser">
			<h3 class="siteGoblin">What additional browsers beyond our <a href="#" class="stdLink">standard suite</a> will need to be supported?</h3>
			<div class="goblinHolder browserHolder">

				<ul>
					<li>

						<div class="squaredThree">
							<input type="checkbox" value="Internet Explorer 8" id="IE8Check" name="check" />
							<label for="IE8Check"></label>
						</div><span>Internet Explorer 8</span>


					</li>


					<li>

						<div class="squaredThree2">
							<input type="checkbox" value="Internet Explorer 9" id="IE9Check" name="check" />
							<label for="IE9Check"></label>
						</div><span>Internet Explorer 9</span>


					</li>


					<li>

						<div class="squaredThree3">
							<input type="checkbox" value="Safari 6" id="Safari6Check" name="check" />
							<label for="Safari6Check"></label>
						</div><span>Safari 6</span>


					</li>


					<li>

						<div class="squaredThree4">
							<input type="checkbox" value="Safari 7" id="Safari7Check" name="check" />
							<label for="Safari7Check"></label>
						</div><span>Safari 7</span>


					</li>

				</ul>

				 <textarea id="Notes">Add additional browsers and notes here.</textarea> 


			</div>

			<h3 class="siteGoblin">Will this site need additional language support?</h3>
				
			<div class="goblinHolder langHolder">

				<ul>
					<li>

						<div class="squaredThree5">
							<input type="checkbox" value="Spanish" id="SpanishCheck" name="check" />
							<label for="SpanishCheck"></label>
						</div><span>Spanish</span>

					</li>
					<li>

						<div class="squaredThree6">
							<input type="checkbox" value="French" id="FrenchCheck" name="check" />
							<label for="FrenchCheck"></label>
						</div><span>French</span>

					</li>
					<li>

						<div class="squaredThree7">
							<input type="checkbox" value="Klingon" id="KlingonCheck" name="check" />
							<label for="KlingonCheck"></label>
						</div><span>Klingon</span>
					</li>
				</ul>

			</div>

			<div class="pageControls">
				<a href="#" class="stdLink">Cancel</a>
				<a href="../features" id="ContinueLink" class="stdLink buttonLink">Continue</a>
			</div>

		</div>

		</form>

	</div>

</div>


<script src="../../../Content/Scripts/jquery/jquery.json2.js"></script>
<script src="../../../Content/Scripts/jquery/jquery.jsoncookie.js"></script>
<script src="../../../Content/Scripts/sl.sc.application.js"></script>

<script>
(function(){

// IE8Check
// Internet Explorer 8
// IE9Check
// Internet Explorer 9
// Safari6Check
// Safari 6
// Safari7Check
// Safari 7
// FrenchCheck
// French
// KlingonCheck
// Klingon


	var gremlinValueString = "";
	var notesString="";


		$("#ContinueLink").click(function(e){
			e.preventDefault();
			notesString = $("#Notes").val();
			gremlinValueString += $('#IE8Check').prop('checked') ? "Internet Explorer 8 support required.\n" : "";
			gremlinValueString += $('#IE9Check').prop('checked') ? "Internet Explorer 9 support required.\n" : "";
			gremlinValueString += $('#Safari6Check').prop('checked') ? "Safari 6 support required.\n" : "";
			gremlinValueString += $('#Safari7Check').prop('checked') ? "Safari 7 support required.\n" : "";
			gremlinValueString += $('#SpanishCheck').prop('checked') ? "Spanish support required.\n" : "";
			gremlinValueString += $('#FrenchCheck').prop('checked') ? "French support required.\n" : "";
			gremlinValueString += $('#KlingonCheck').prop('checked') ? "Klingon support required.\n" : "";
			//alert($('#SpanishCheck').prop('checked'));
			//console.log(gremlinValueString);
			//alert(notesString);
			sl.sc.application.setLocalStorageItem(sl.sc.application.LocalStoreGremlins,gremlinValueString);
			sl.sc.application.setLocalStorageItem(sl.sc.application.LocalStoreNotes,notesString);
			window.location = $(this).attr("href");
		});
	
})();
</script>


</body>



</html>


