<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">



<html lang="en">



<head>



	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Site Setup</title>

	<link rel="stylesheet" type="text/css" href="../../Content/CSS/site.css">



</head>



<body>

<div id="Container">

	<div id="InnerContainer">
	
		<h2 class="sectionHeader">Select Client and Platform</h2>

		<form>

		<div id="ClientSelector">

			<select>

				<option selected>Choose a Client</option>
				<option>ALDI</option>
				<option>Ace Hardware</option>
				<option>Canadian Tire</option>
				<option>CVS</option>
				<option>Dicks Sporting Goods</option>
				<option>Meijer</option>
				<option>Michaels</option>	
				<option>Publix</option>
				<option>Target</option>
				<option>Walgreens</option>

			</select>

		</div>

		<div id="PlatformSelector">
			<select>
				<option selected>Select a Platform</option>
				<option>Smart Deals</option>
				<option>SC Standard</option>
				<option>SC 5</option>
				<option>SC Custom</option>
			</select>
		</div>

		<div id="GoblinChooser">
			<h3 class="siteGoblin">What additional browsers beyond our <a href="#" class="stdLink">standard suite</a> will need to be supported?</h3>
			<div class="goblinHolder browserHolder">

				<ul>
					<li><input type=checkbox >Internet Explorer 8</li>
					<li><input type=checkbox >Internet Explorer 9</li>
					<li><input type=checkbox >Safari 6</li>
					<li><input type=checkbox >Safari 7</li>
				</ul>

				 <textarea>Add additional browsers and notes here.</textarea> 


			</div>

			<h3 class="siteGoblin">Will this site need additional language support?</h3>
				
			<div class="goblinHolder langHolder">

				<ul>
					<li><input type=checkbox >Spanish</li>
					<li><input type=checkbox >French</li>
					<li><input type=checkbox >Klingon</li>
				</ul>

			</div>

			<div class="pageControls">
				<a href="#" class="stdLink">Cancel</a>
				<button>Continue</button>
			</div>

		</div>

		</form>

	</div>

</div>






</body>



</html>


